@tailwind base;
@tailwind components;
@tailwind utilities;


        /* Estilos Generales */
        body {
            font-family: 'Georgia', serif;
            color: #333;
            background-color: #f7f5f0;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1, h2, p {
            margin: 0.5em 0;
            text-align: center;
        }
        h1 {
            font-size: 2.5em;
            color: #a8836f;
        }
        h2 {
            font-size: 1.8em;
            color: #d4a59a;
        }
        p {
            font-size: 1em;
            color: #666;
        }

        /* Estilo del Header y Carrusel */
        header {
            width: 100%;
            height: 30vh;
            position: relative;
            overflow: hidden;
        }
        .carousel {
            width: 100%;
            height: 100%;
            position: relative;
        }
        .carousel-images {
            display: flex;
            transition: transform 3s ease-in-out;
            height: 100%;
        }
        .carousel img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        /* Botones de navegación del carrusel */
        .carousel-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            font-size: 2em;
            z-index: 10;
        }
        .carousel-button.left {
            left: 20px;
        }
        .carousel-button.right {
            right: 20px;
        }

        /* Contenedor Principal */
        .container {
            width: 90%;
            max-width: 800px;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-top: -50px;
            z-index: 5;
            position: relative;
        }

        /* Botón de Música y Barra de Volumen */
        .music-controls {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px 0;
        }
        .button-confirm {
            color: #fff; /* Texto en blanco para que resalte */
            background-color: #28a745; /* Color verde de confirmación */
            border: none; /* Quita el borde predeterminado */
            border-radius: 5px; /* Bordes redondeados */
            padding: 10px 20px; /* Espaciado interno */
            font-size: 16px; /* Tamaño de la fuente */
            font-weight: bold; /* Fuente en negrita para mayor visibilidad */
            cursor: pointer; /* Cambia el cursor a mano cuando se pasa sobre el botón */
            transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
        }
        
        /* Efecto al pasar el cursor sobre el botón */
        .button-confirm:hover {
            background-color: #218838; /* Un verde un poco más oscuro */
        }
        
        /* Efecto de presionar el botón */
        .button-confirm:active {
            background-color: #1e7e34; /* Un verde aún más oscuro para el efecto de clic */
        }
        

        .music-button {
            position: absolute;
            top: 10px; /* Ajusta el valor de 'top' */
            left: 50%; /* Ajusta el valor de 'right' */
            transform: translate(-50%);
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 10px;
            border: none;
            border-radius: 50%;
            font-size: 1.5em;
            cursor: pointer;
            z-index: 20;
        }
        .music-button:hover {
            background-color: #d4a59a;
        }
        .volume-slider {
            width: 100px;
        }
